* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #404040;
  font-size: 16px;
  font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  border-top: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
}

main {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1120px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: absolute;
  top: 10px;
  right: 120px;
  background: #fff;
}

th {
  display: none;
  text-align: left;
  padding: 0 5px;
  font-weight: 300;
}

thead tr:after {
  content: "Sort";
  text-align: center;
  transition: 1s ease-in-out;
}

thead tr:hover th{
  display: flex;
}

thead tr:hover:after{
  content: "";
  transition: 1s ease-in-out;
}

tbody {
  display: flex;
  flex-wrap: wrap;
}

tr {
  width: 140px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 -1px 10px #ddd;
  cursor: pointer;
  transition: .2s;
}

tr:hover {
  box-shadow: 0px 5px 25px #ddd;
  transition: .2s;
}

tr.indexhead {
	display: none;
}

tr td {
  display: flex;
  padding: 0;
}

td#name {
  font-size: 13px;
  font-family: poor richard;
  padding-bottom: 20px;
  height: 130px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

td#type {
  display: none;
  color: #ccc;
  font-size: 12px;
  font-weight: 100;
}

td#type a {
  padding: 2px 8px;
}

td#size {
  font-size: 8px;
  color: #fcfcfc;
  line-height: .8;
  padding:1px 0px;
}

td#timeStamp {
  font-size: 8px;
  line-height: .8;
  position: relative;
  left: 25%;
  width: 75%;
  bottom: 9px;
}

td#hidden {
  height: 0px;
}

td#hidden a {
  border-bottom: 2px solid lightgrey;
  color: transparent;
  padding: 0;
}

td#size a, td#timeStamp a {
  padding:1px 3px;
}

td.indexcolname a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td.indexcollastmod,
td.indexcolsize {
  display: none;
}

td a {
	color: #2980b9;
	text-decoration: none;
  padding: 5px 8px 2px 5px;
  flex: 1;
}

h2.hiddenFiles {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 10px;
  font-weight: 100;
  border: 1px solid grey;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 2px;
}

h2.hiddenFiles a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  color: #9099A3;
}


@media only screen and (min-width: 320px) {
  main {
    max-width: 280px;
  }
}

@media only screen and (min-width: 480px) {
  main {
    max-width: 420px;
  }
}


@media only screen and (min-width: 640px) {
  main {
    max-width: 560px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  main {
    max-width: 1120px;
  }
}

/* icons for file types (icons by famfamfam) */

table tr td:first-of-type a {
  background-position: 4px 0px;
  background-repeat: no-repeat;
  background-size: contain !important;
  padding-top: 107px;
  margin: 0 10px;
}
